{% extends "base.html" %}
{% block content %}
<div class = "navbar navbar-default navbar-fixed-top" style="line-height:20px; height:20px;">
  <div class="pull-left" id="disconnect">
    <button type="button" class="btn btn-default navbar-btn">Disconnect</button>
  </div>
</div>
<div class="container">
  <h3>{{ thisuser.name.givenName+' '+thisuser.name.familyName }}</h3>
  <div>
    <img src="{{thisuser.image.url}}">
  </div>
  <form class="form-inline" action="" method="post">
    {{form.hidden_tag()}}
    {{form.text_entry(class="form-control")}}
    {% for error in form.errors.text_entry %}
    <span style="color: red;">[{{error}}]</span>
    {% endfor %}
    {{form.boolean_entry(class="checkbox")}}</br> 
    {{form.datetime_entry(class="form-control")}}</br> 
    {{form.select_entry(class="form-control")}}</br> 
    {{form.integer_entry(class="form-control")}} 
    </br>
    <input class="btn btn-primary" type="submit" value="submit">
  </form>
  <table class="table">
    {% for post in postlist %}
    <tr>
      <td>
        {{ post.author.firstname }}
      </td>
       <td>
        {{ post.text }}
      </td>
      <td>
        {{ post.boolean }}
      </td>
      <td>
        {{ post.timestamp.isoformat() }}
      </td>
      <td>
        {{ post.select }}
      </td>
      <td>
        {{ post.integer }}
      </td>
      <td>
        <form class="form-inline" role="form">
          <button type="submit" formaction="/delete?entry_id={{post.id}}" formmethod="post" class="btn btn-default">delete</button>          
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>



  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }} </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</div>

{% endblock %}
{% block script %}
<script type="text/javascript">
  var helper = (function() {

      return {
      /**
       * Calls the server endpoint to disconnect the app for the user.
       */
disconnectServer: function() {
// Revoke the server tokens
$.ajax({
type: 'POST',
url: '{{ url_for('disconnect') }}',
async: false,
success: function(result) {
console.log('revoke response: ' + result);
window.location = '{{ url_for('login') }}'          
},
error: function(e) {
console.log(e);
}
});
},
deleteEntry: function(eid) {
               $.ajax({
type: 'POST',
url: '{{ url_for('delete') }}?entry_id='+eid,
async: false,
success: function(result) {
console.log('deleted');
},
error: function(e) {
console.log(e);
}
});
},
  };
})();

/**
 * Perform jQuery initialization
 */
$(document).ready(function() {
    $('#disconnect').click(helper.disconnectServer);
    });
  </script>

  {% endblock %}

